# dont track the content of this folder
deploy/
deployCropped/
deployCropped2/
CroppedPics1/
CroppedPic/

# dont track the content of these files
projectNN.m
demo.m
demo.py
centroids.csv
classes.csv
*.m~
deepLearningOnramp.m
*.mat

